
.select-area {
    margin: 2% 0;
}

.country-font {
    font-size: 20px;
}

.pic-form {
    .pic-form {
    padding: 15px 12px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 470px;
    width: 50%;
}
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

