{% extends 'culture_info.html' %}
{% load staticfiles %}

{% block title %}
    Society | Australia
{% endblock %}

{% block image1 %}
    {% static 'images/cultures/au.jpg' %}
{% endblock %}

{% block information %}
    <div class="tab-wrap">
        <ul class="select-navbar nav nav-tabs nav-stacked" style="margin-top: 0;">
            <li class="select-navbar-item active">
                <a href="#tab1" data-toggle="tab">General Information</a>
            </li>
            <li class="select-navbar-item">
                <a href="#tab2" data-toggle="tab">Easy Phrases</a>
            </li>
        </ul>
    </div>

    <!-- culture body -->
    <div class="tab-content" style="background-color: white; margin-top: 0; padding: 10px;">
        <div class="tab-pane fade active show" id="tab1">
            <p>Australia is the largest country in Oceania, comprising the mainland Australia continent, Tasmania Island, and numerous small islands. Australia is considered as country with rich of diversity. Based on census 2016, Australians have various ancestry backgrounds, 36% of survey participants identified themselves as British descents, 33% as Australians, 11% as Irish, 9.3% as Scottish, 5.6% as Chinese, and many other ethnicities. Departing from this fact, we can understand that Australia is a multicultural country.</p>
            <p><a href="https://www.abc.net.au/news/2017-04-28/these-are-our-core-australian-values/8476902">ABC news</a> reports that Australian have unique characteristics that make them valuable. Here some interesting points from the list:</p>
            <ol type="1">
                <li>Australians love taking nature strips as gifts. When they think they have something which are not used anymore, they just chuck it on the grass in front of their houses. If someone who happens to be passing by and finds it interesting, those dumped things are free to grab. However, the government might not like it.</li>
                <li>Australians take the front seat. Considering themselves as egalitarians, every time they pick a taxi, it is highly likely they will sit next to the driver. You might find it unusual in your country or in the US movies.</li>
                <li>Being an Australian	and sports are two unseparated things. The obsession of sports, especially for Australian Football, is well-known. It is like a religion celebration.</li>
                <li>Australians have their own reasons to take days-off. It is like taking days-off is a right that has been wired to their bone for any literally reason. They take days-off not only for religious or public holidays, but also feeling a bit sick, having a weekday before/after weekend and there is a religious/public holiday on the other side of it, the fake birthday of a Queen, missing the train, needing a haircut, or a football game being on tomorrow.</li>
                <li>Australians are Larrikins. There are many definitions of Larrikins of Australia in the internet. There is no standard or convention about the definition, but Australians definitely are.</li>
            </ol>
            <p>Meanwhile. regarding to <a href="https://www.hofstede-insights.com/country-comparison/australia/">Hofstede</a>, Australia has characteristic dimension scores as per below:</p>
            <ol type="1">
                <li><b>Power distance: 36. </b>Power distance is defined as the extent of less powerful member of an organization in particular country expect and accept that the power is distributed unequally. Australia has low score at this dimension which means within a team or organization, Australians expect to have fair share of information, be consulted in decision making, and at the same time communication is conducted in informal ways, direct and participative.</li>
                <li><b>Individualism: 90. </b>Individualism here describes how a society treats the degree of interdependence among its member. It has to do with the attitude of a member to define the self-image as “I” or “We”. Unlike a collectivist society, Australia has high score in this dimension. Individualists look after themselves and immediate family. In the business world, promotion is given to those who successfully prove their significant achievements. The employees must self-reliance and have initiative.</li>
                <li><b>Masculinity: 61.  </b>Australia is somewhat masculine. The masculinity here has nothing to do with gender issues. It indicates that the society is driven by competition, achievement, and success. Success itself is defined by those who standing out from the crowd. Australia has shared value that people should strive to be the best. Conflicts are resolved in the individual level and winning becomes the goal.</li>
                <li><b>Uncertainty Avoidance: 51. </b>This dimension portrays the attitude of a society in dealing with threat of unknown or ambiguous situation in the future.  High score, like Japan, means the society are discipline in doing procedures and codes of conduct to minimize risks and unwanted occurrences in the future. Changes may be hard to realize in the society. Low score means the society does not treat risks as dangerous threats. Australia is somewhere in between.</li>
                <li><b>Long Term Orientation: 21. </b>Long term orientation is a dimension to describe how a society maintains links with its past while dealing with a situation in the present or future. Australia has low index in this dimension, which means Australia is a normative society where its people respect their tradition, do not have much propensity to save their future, and focusing on quick results.</li>
                <li><b>Indulgence: 71. </b>Australia is quite indulgent. Unlike restraint culture, Australians value their leisure time, love having fun, act as they please, and spend money as they wish.</li>
            </ol>
            <p>Hopefully, this information can help you to understand the Australian culture and make the adaptation process faster so you can work with Australians as a team in your work place.</p>
        </div>
        <div class="tab-pane fade" id="tab2">
            <br/>
            <p>
                There are lots of Australian slangs that you can learn. Here are some common ones:
            </p>
            <p>
                <ul>
                    <li>Arvo = Afternoon</li>
                    <li>Barbie = Barbecue</li>
                    <li>Ciggy = Cigarette</li>
                    <li>Dunny = Toilet</li>
                    <li>Defo = Definitely</li>
                    <li>Fair Dinkum  = Honestly</li>
                    <li>Footy = Australian Football</li>
                    <li>G'day = Good day</li>
                    <li>Woop woop = Middle of nowhere</li>
                </ul>
            </p>
        </div>
    </div>

{% endblock %}

{% block au-status %}
    active
{% endblock %}