{% extends 'culture_info.html' %}
{% load staticfiles %}

{% block title %}
    Society | China
{% endblock %}

{% block image %}
    {% static 'images/cultures/china.jpg' %}
{% endblock %}

{% block information %}
    <div class="tab-wrap">
        <ul class="select-navbar nav nav-tabs nav-stacked" style="margin-top: 0;">
            <li class="select-navbar-item">
                <a class="active show" href="#tab1" data-toggle="tab">General Information</a>
            </li>
            <li class="select-navbar-item">
                <a class="" href="#tab2" data-toggle="tab">Easy Phrases</a>
            </li>
            <li class="select-navbar-item">
                <a class="" href="#tab3" data-toggle="tab">Do's and Don'ts</a>
            </li>
            <li class="select-navbar-item">
                <a class="" href="#tab4" data-toggle="tab">Immigration Trend</a>
            </li>
        </ul>
    </div>

    <!-- culture body -->
    <div class="tab-content" style="background-color: white; margin-top: 0; padding: 10px;">
        <div class="tab-pane fade active" id="tab1" style="visibility:visible;">
            <p>Who doesn’t know a giant panda? That animal may be one of the things crossing in someone’s mind every time he/she hears about China. By having the largest population in the world, its people spread to every corner of the planet. As a great nation, China is rich of cultural and historical heritage; China’s Great Wall, the Forbidden City, Dragon Boats Festival, you name it!</p>
            <p>
                If you have some Chinese friends, you may agree with this joking video. Many of the things mentioned in the video are exaggerated, but they still make sense and kind of amusing.
                <br/><br/>
                <center>
                    <iframe width="800" height="450" src="https://www.youtube.com/embed/L8KVAcf1fkY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </center>
            </p>
            <p><a href="http://factsanddetails.com/china/cat4/sub18/item116.html"><u>factsanddetails.com</u></a> reports that Chinese have unique characteristics that make them valuable. Here some interesting points from the list:</p>
            <ol type="1">
                <li>Never lose your face! The Chinese are very conscious of their faces which represent respect and dignity. Losing face means your relationship with people in your circle may be threatened. Once you lose it, it is hard to get it back. To maintain dignity, they keep behaving by being polite and accommodating. Having conflict may result in embarrassment and losing face. So, losing face must be prevented at any cost.</li>
                <li>The Chinese are shy. They can be very shy to foreigners or in a situation that they don’t use to. If someone happens to be asking a Chinese a question that sounds personal and makes him/her uncomfortable they might just laugh and look away.</li>
                <li>Indirectness can also be used to describe the Chinese when they deal with a conversation that bothers or makes them uncomfortable. It can be considered rude to ask them a direct question, such as question with yes/no answer, that may position them in a situation that make them to give an answer they don’t want to give or an answer that may hurt someone’s feeling. Even in some cases, asking directions can be impolite if the one who is asked doesn’t know the answer. Not knowing the answer can be an embarrassment for them.</li>
                <li>The Chinese are famous for their diligence and endurance. They are hard workers and do not complain. Complaining, for them, doesn’t bring you anywhere.</li>
                <li>The Chinese are considered as pragmatists. When they think something doesn’t work, they will change it, so practical. Some people believe that this pragmatism is rooted in Confucianism.</li>
            </ol>
            <p>Meanwhile, regarding to <a href="https://www.hofstede-insights.com/country-comparison/china/">Hofstede</a>, China has characteristic dimension scores as per below:</p>
            <ol type="1">
                <li><b>Power distance: 80. </b>Power distance is defined as the extent of less powerful members of an organization in a particular country expect and accept that the power is distributed unequally. China has high score at this dimension which means within a team or organization, Chinese consider it is fine to have inequalities in power. They are optimistic in someone who happens to have leadership and dominance. They are not supposed to raise aspiration beyond their ranks.</li>
                <li><b>Individualism: 20. </b>Individualism here describes how a society treats the degree of interdependence among its member. It has to do with the attitude of a member to define the self-image as “I” or “We”. Unlike an individualist society, China has low score in this dimension which make their society is categorized as a collectivist. Collectivists belong to a group that takes care of them in exchange for loyalty. It may affect the way an organization promotes a member because the closeness will matter. Relationship prevails over tasks and company.</li>
                <li><b>Masculinity: 66.  </b>China is somewhat masculine. The masculinity here has nothing to do with gender issues. It indicates that the society is driven by competition, achievement, and success. Success itself is defined by those who standing out from the crowd. The Chinese argue that people should strive to be the best. They may neglect their leisure time if they can have more income. Money talks louder.</li>
                <li><b>Uncertainty Avoidance: 30. </b>This dimension portrays the attitude of a society in dealing with threat of unknown or ambiguous situation in the future. High score, like Japan, means the society are discipline in doing procedures and codes of conduct to minimize risks and unwanted occurrences in the future. Changes may be hard to realize in the society. Low score means the society does not treat risks as dangerous threats. The Chinese have a high tolerance of ambiguity and it makes them more entrepreneurial. Their language also contains many ambiguities that can be difficult for Westerners to follow.</li>
                <li><b>Long Term Orientation: 87. </b>Long term orientation is a dimension to describe how a society maintains links with its past while dealing with a situation in the present or future. China has high index in this dimension, which means China is a pragmatic society where its people believe the truth values are relative, depends on time, situation, and context. They exhibit an ability to adapt traditions easily to changed conditions, a strong propensity to save and invest, thriftiness, and perseverance in achieving results.</li>
                <li><b>Indulgence: 24. </b>China is not indulgent, but more to restraint culture. The Chinese are perceived to be cynic and pessimistic. They seem do not value the leisure time or personal gratification for desires.</li>
            </ol>
            <p>
                If you happen to be meeting a Chinese from China and need to work with him/her as a team, hopefully this information can help you adapt faster.
            </p>
        </div>

        <div class="tab-pane fade" id="tab2">
            <br>
            <p><strong>There are many different ways of greetings in China:</strong></p>
            <ul>
                <li>One of the official words used by Chinese is 'nǐ hǎo' which means 'Hello'. When people use 'nǐ hǎo' for greeting,
                    it means that they are not familiar with each other so they do the greeting in a formal way.</li>
                <li>There is a very native way to greet to friends and family members. 'nǐ chī le ma?' which means 'Have you eaten?'.
                    Chinese would like to use this one to greet.</li>
                <li>Handshake is also considered the common form of greeting, but handshake is not always used among young people.</li>
                <li>There are some other words used for greeting, like 'hai' and 'hā lou', they are transliterations of 'Hi' and 'Hello' in English.</li>
            </ul>
        </div>

        <div class="tab-pane fade" id="tab3">
            <br>
            <p><strong><i>Do's : </i></strong></p>
            <ul>
                <li>In China, it is safe to walk outside alone at night.</li>
                <li>Most Chinese are crazy fans of foods. They like to hang out together to find and taste delicious food and dessert.</li>
                <li>There are eight major cuisines in China. They have totally different tastes. Try them!</li>
                <li>Chinese rarely reject others directly. If Chinese say 'next time' or 'if i'm available', what they mean may be 'no'.</li>
            </ul>
            <p><strong><i>Don'ts : </i></strong></p>
            <ul>
                <li>'Zhina' is a very offensive word in China.</li>
                <li>Green caps or hats have a special meaning in China, which means 'Cuckold'. It is better to choose other colours.</li>
                <li>Do not call elders by their first names, which is impolite in China.</li>
            </ul>
        </div>

        <div class="tab-pane fade" id="tab4">
            <p align="center" class="trend-text-title">Chinese Community in Melbourne: Expatriate Trend</p>
            <div class="row">
                <br>
                <div class="col-lg-6 trend-text-box">
                    <br><br><br>
                    <p>Melbourne has registered significant growth in the number of Chinese Immigrants over the years.They contribute to the large part of growing population of Melbourne. As per census 2016, China Town is proven to be the second prolonged place for the Chinese commune in in the western countries.</p>
                    <br>To Learn more, visit <a href ="https://liveinmelbourne.vic.gov.au/discover/multicultural-communities/chinese" target="_blank" style="font-size:17px;color:green;"><i>Melbourne’s Chinese Community</i></a> page.</p>

                </div>
                <div id="my_dataviz" style="float: right;width: 50%;height: 400px;background-color: white;">
                    <script>
                        var data_temp = {{ cn_trends|safe }};
                        var data = new Array();
                        for (var i in data_temp) {
                            data.push(data_temp[i]);
                        }

                        var margin = {top: 30, right: 10, bottom: 30, left: 45},
                            width = 480 - margin.left - margin.right,
                            height = 400 - margin.top - margin.bottom;

                        var svg = d3.select("#my_dataviz")
                            .append("svg")
                            .attr("width", width + 100)
                            .attr("height", height + margin.top + margin.bottom)
                            .append("g")
                            .attr("transform",
                                "translate(" + margin.left + "," + margin.top + ")");
                        // Title
                        svg.append("text")
                            .attr("x", (width/2))
                            .attr("y", 0 - (margin.top/2))
                            .attr("text-anchor", "middle")
                            .style("font-size", "16px")
                            //.text("Migration Trends of Victoria")

                        // Add X axis --> it is a date format
                        var x = d3.scaleLinear()
                            .domain(d3.extent(data, function(d) { return d.time; }))
                            .range([ 0, width ]);
                        svg.append("g")
                            .attr("transform", "translate(0," + height + ")")
                            .call(d3.axisBottom(x));

                        svg.append("text")
                            .attr("transform", "translate(" + width/2 + "," + (height + margin.bottom) + ")")
                            .style("text-anchor", "middle")
                            .text("Census Year");

                        // Add Y axis
                        var y = d3.scaleLinear()
                            .domain( [0, d3.max(data, function(d) { return d['China']; }) + 20000])
                            .range([ height, 0 ]);
                        svg.append("g")
                            .call(d3.axisLeft(y))
                            .append("text")
                            .attr("fill", "#000")
                            .attr("transform", "rotate(-90)")
                            .attr("y", 6)
                            .attr("dy", "0.9em")
                            .style("text-anchor", "end")
                            .text("Number of Migrations");

                        //tooltip
                        var Tooltip = d3.select("#my_dataviz")
                            .append("div")
                            .style("opacity", 0)
                            .attr("class", "tooltip")
                            .style("background-color", "white")
                            .style("border", "solid")
                            .style("border-width", "2px")
                            .style("border-radius", "5px")
                            .style("padding", "5px")
                            .style("position", "absolute")

                        //mouse
                        var mouseover = function(d) {
                            Tooltip.style("opacity", 1)
                        }
                        //var mousemove = function(d) {
                          //  Tooltip.html(d.time + " : " + d.China)
                            //    .style("top", (d3.event.pageY-80)+"px")
                              //  .style("left",(d3.event.pageX -120))
                        //}
                        var mouseleave = function(d) {
                            Tooltip.style("opacity", 0)
                        }

                                // Initialize line with group a
                                var line = svg
                                    .append('g')
                                    .append("path")
                                    .datum(data)
                                    .attr("d", d3.line()
                                        .x(function(d) { return x(+d.time) })
                                        .y(function(d) { return y(+d.China) })
                                    )
                                    .attr("stroke", "black")
                                    .style("stroke-width", 4)
                                    .style("fill", "none")

                        // Initialize dots with group a
                        var dot = svg
                            .selectAll('circle')
                            .data(data)
                            .enter()
                            .append('circle')
                            .attr("cx", function(d) { return x(+d.time) })
                            .attr("cy", function(d) { return y(+d.China) })
                            .attr("r", 7)
                            .style("fill", "#69b3a2")
                            .on("mouseover", mouseover)
                            //.on("mousemove", mousemove)
                            .on("mouseleave", mouseleave)
                            .on("mousemove", function(d) {
                                var matrix = this.getScreenCTM()
                                    .translate(+ this.getAttribute("cx"), + this.getAttribute("cy"));
                                Tooltip.html("Until "+d.time +"<br/>" +"Total number from China is " + d.China)
                                    .style("left", (window.pageXOffset + matrix.e -120) + "px")
                                    .style("top", (window.pageYOffset + matrix.f - 70) + "px");
                                })
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block cn-status %}
    active
{% endblock %}

{% block drop-title %}
    China
{% endblock%}

{% block drop-cn %}
    disabled
{% endblock%}