{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}{% endblock %}

{% block content %}
<div class="container" style="background-color: white;">
    <div class="section-counter paralax-mf bg-image" style="background-image: url({% block image1 %}{% endblock %});">

        <div class="society-container">
            <ul class="culture-navbar">
                <li class="culture-navbar-item">
                    <a style="background-color: #2b5745;" href="{% url 'home' %}"><span class="fa fa-menu-left"></span>&nbsp;Home</a>
                </li>
                <li class="culture-navbar-item">
                    <a {% block au-status %}{% endblock %} href="{% url 'au_display' %}">Australia</a>
                </li>
                <li class="culture-navbar-item">
                    <a {% block cn-status %}{% endblock %} href="{% url 'cn_display' %}">China</a>
                </li>
                <li class="culture-navbar-item">
                    <a {% block in-status %}{% endblock %} href="#">India</a>
                </li>
                <li class="culture-navbar-item">
                    <a {% block nz-status %}{% endblock %} href="#">New Zealand</a>
                </li>
                <li class="culture-navbar-item {% block uk-status %}{% endblock %}">
                    <a href="#">United Kingdom</a>
                </li>
                <li class="culture-navbar-item {% block vn-status %}{% endblock %}">
                    <a href="#">Vietnam</a>
                </li>
            </ul>
            {% block information %}{% endblock %}
        </div>
    </div>



</div>



{% endblock %}