{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}
    Community Events
{% endblock %}

{% block content %}
    <div style="background-color: #24b67e; height: 90px;"></div>
    <section id="event">
        <div class="container" style="height: 250px;">
            <div style="background-image: url(/static/images/event.jpg);">
                <div class="intro-content display-table">
                    <div class="table-cell box-banner">
                        <div align="center" class="container" >
                            <h2 class="box-banner-text">Community Events</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container info-area">
            <!--
                <div class="row">
                    <div class="col-md-4">
                        <select class="btn btn-default dropdown-toggle" style="width: 60%;">

                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="btn btn-default dropdown-toggle">
                            <option value="all_cat">Category</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="btn btn-default dropdown-toggle">
                            <option value="all_key">Keyword</option>
                        </select>
                    </div>
                </div>
                -->
            <div class="row">
                <div class="col-md-4">
                    <div class="find-area" align="center">
                        <h2>Refine Results</h2>
                        <form action="{% url 'search' %}">
                            <div class="row find-div">
                                <div class="col-md-4">
                                    <p>Keyword&nbsp;</p>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="keyword" placeholder="Enter Keywords" value="" class="find-input">
                                </div>
                            </div>
                            <div class="row find-div">
                                <div class="col-md-4">
                                    <p>Start&nbsp;Date&nbsp;</p>
                                </div>
                                <div class="col-md-8">
                                    <table>
                                        <tr>
                                            <td>
                                                <input id="year" type="text" name="year" placeholder="Year" value="" class="find-input" oninput="changeDate()">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <select id="month" class="find-input" style="margin: 10px 0;" onchange="changeDate()">
                                                    <option value="0" name="">Month</option>
                                                    <option value="01" name="01">January</option>
                                                    <option value="02">February</option>
                                                    <option value="03">March</option>
                                                    <option value="04">April</option>
                                                    <option value="05">May</option>
                                                    <option value="06">June</option>
                                                    <option value="07">July</option>
                                                    <option value="08">August</option>
                                                    <option value="09">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <select id="day" class="find-input" onchange="changeDay()">
                                                    <option value="0">Day</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <input name="box-month" id="box-month" style="display: none;">
                            <input name="box-day" id="box-day" style="display: none;">
                            <!--
                            <input type="date" data-date-inline-picker="false" data-date-open-on-focus="true" name="startdate" value="" class="find-input">
                            -->
                            <button class="button button-a button-rouded" type="submit" style="width: 90px; margin-top: 30px; margin-bottom: 10px;">Find</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-8">
                    {% for event in page_of_events %}
                        <div class="event-unit">
                            <table>
                                <tr>
                                    <td><h3><a href="{{ event.link }}" target="_blank">{{ event.title }}&nbsp;<img src="{% static 'images/new-window.png' %}"></a></h3></td>
                                    <!-- <span class="ico-circle"><i class="ion-forward"></i></span>  -->
                                    <td></td>
                                </tr>
                            </table>
                            <p>{{ event.start_date }}</p>
                            <p class="event-desc">{{ event.description }}</p>
                        </div>
                    {% endfor %}

                    <div class="row" style="margin-bottom: 15px;">
                        <table style="width: 100%;">
                            <tr align="center">
                                <td style="width: 20%;">
                                    {% if page_of_events.has_previous %}
                                        <a class="button button-a button-rouded" style="width: 80px;" href="{% url 'event_display' %}?page={{ page_of_events.previous_page_number }}">
                                            back
                                        </a>
                                    {% endif %}
                                </td>
                                <td style="width: 60%"><p>Page {{ page_of_events.number }} of {{ page_of_events.paginator.num_pages }}</p></td>
                                <td style="width: 20%;">
                                    {% if page_of_events.has_next %}
                                        <a class="button button-a button-rouded" style="width: 80px;" href="{% url 'event_display' %}?page={{ page_of_events.next_page_number }}">
                                            next
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <script type="text/javascript">
        function changeDate() {
            var year = document.getElementById("year").value;
            var month = document.getElementById("month");
            var day = document.getElementById("day");
            day.options.length = 0;
            day.options.add(new Option("Day", "0"));
            if(month.selectedIndex != 0) {
                for (i = 1; i < 32; i++) {
                    var temp = "" + i;
                    if (i < 10) {
                        temp = "0" + i;
                    }
                    day.options.add(new Option(temp, temp));
                    if (month.selectedIndex == 4 ||
                        month.selectedIndex == 6 ||
                        month.selectedIndex == 9 ||
                        month.selectedIndex == 11) {
                        if (i == 30) {
                            break;
                        }
                    } else if (month.selectedIndex == 2) {
                        if ((year % 4 == 0 && year % 100 != 0)||(year % 400 == 0)) {
                            if (i == 29) {
                                break;
                            }
                        } else {
                            if (i == 28) {
                                break;
                            }
                        }
                    }
                }
                document.getElementById('box-month').value = month.options[month.selectedIndex].value;
            }
        }

        function changeDay() {
            var day = document.getElementById('day');
            if (day.selectedIndex != 0) {
                document.getElementById('box-day').value = day.options[day.selectedIndex].value;
            }
        }

    </script>

{% endblock %}
{% block events %}
    active
{% endblock %}