{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}
    Community Gardens
{% endblock %}

{% block content %}
    <div style="background-color: #24b67e; height: 90px;"></div>
    <section id="garden-report">
        <div class="container" style="height: 250px;">
            <div style="background-image: url(/static/images/garden-banner.jpg);">
                <div class="intro-content display-table">
                    <div class="table-cell box-banner">
                        <div align="center" class="container" >
                            <h2 class="box-banner-text">Find a Community Garden</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="box-shadow-2">
                <div class="no-margin">
                    <div align="center">
                        <p>
                            There are more than 70 community gardens in Melbourne. Find the nearest one to your location.
                        </p>
                    </div>
                    <div class="garden-map">
                        <!-- map code here -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}