{% extends 'culture_info.html' %}
{% load staticfiles %}

{% block title %}
    Society | India
{% endblock %}

{% block image %}
    {% static 'images/cultures/india.jpg'%}
{% endblock %}

{% block information %}
    <div class="tab-wrap">
        <ul class="select-navbar nav nav-tabs nav-stacked">
            <li class="select-navbar-item">
                <a class="active show" href="#tab1" data-toggle="tab">General Information</a>
            </li>
            <li class="select-navbar-item">
                <a class="" href="#tab2" data-toggle="tab">Easy Phrases</a>
            </li>
            <li class="select-navbar-item">
                <a class="" href="#tab3" data-toggle="tab">Do's and Don'ts</a>
            </li>
            <li class="select-navbar-item">
                <a class="" href="#tab4" data-toggle="tab">Immigration Trend</a>
            </li>
        </ul>
    </div>

    <!-- culture body -->
    <div class="tab-content" style="background-color: white; margin-top: 0; padding: 10px;">
        <div class="tab-pane fade active" id="tab1">
            <br>
            <p><Strong>India </Strong> is culturally diverse country having different traditions and trends. Religion and Language in Indian change with geographical regions of their country. Indian culture is basically the amalgamation of different cultures and is highly influenced by their ancestral history. India is considered to be the origin of Hinduism and Buddhism India is quite famous from earlier times for its architecture, medicine i.e. Ayurveda.
                In addition, India is quite famous for its cuisines which is also highly influenced by their cultural diversity. Herbs and the spices that they use, make their cooking style different and special.
                Indian clothing, customs and celebrations is also highly influential by their different cultures.</p>
             <p align="center"><i>" India is considered to be the land of diversity because of the its diverse cultures! "</i></p>
            <p>

                If you have some Indian friends, you may agree with this joking video. Many of the things mentioned in the video are exaggerated, but they still make sense and kind of amusing.
                <br/><br/>
                <center>
                    <iframe width="800" height="450" src="https://www.youtube.com/embed/vv9tIAOOSSY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </center>
            </p>
        </div>
        <div class="tab-pane fade" id="tab2">
            <br>
            <p><strong>There are many different ways of greetings in India depending on the religion of the individual: </strong> </p>
            <ul>
                <li>Hindus greet each other by saying ‘Namaste’. In a more traditional way, Hindus folds their hands by holding their palms together having the fingertips pointing towards the chin level. It reflects the gesture of respect.</li>
                <li>Sikh or Panjabis greet each other by saying ‘Sat Sri Akaal’. Here Sat means Satya (Truth), Sri is a word to give respect and Akaal means ‘the timeless being, God’.</li>
                <li>Muslims greet each other by shaking hands and saying ‘Salaam al-eikum.’</li>
                <li>Gujarati greet by saying ‘Kem Cho’ which means ‘How are you’.</li>
                <li>However, new generation generally prefers to shake hands with each other.</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="tab3">
            <br>
            <p><strong><i>Do's : </i></strong></p>
            <ul>
                <li>Elder are ought to be treated with noticeable respect.</li>
                <li>In many Hindu region places, individual needs to walk barefoot.</li>
                <li>Questions like “what’s your salary?” or “Are you married or not?” are considered very common in their conversation.</li>
                <li>While having interaction with Indians, conversation is based on the gender and relationships. Women are generally expected to be given more respect.</li>
                <li>Indians do accept light-hearted humour and light-teasing.</li>
            </ul>
            <p><strong><i>Don'ts : </i></strong></p>
            <ul>
                <li>Do not criticize the ability or appearance of the individual by using negative comments. This form of negative comments are considered offensive.</li>
                <li> Indians, generally take time to make important decisions so don’t consider their work culture as casual or informal, instead Indians are very diligent individuals.</li>
                <li>From traditional time,eating food with left hand is considered to be immoral.But with the modernisation, this is quite acceptable among Indians.</li>
                <li>Indians are generally not so affectionate publicly like ‘kiss in public’.</li>
                <li>In India, most of the states have its own culture as well as norms, hence be little bit careful and don’t judge whole country based on the experience with a particular individual.</li>
                <li>Don’t point finger to a particular individual as it is considered to be rude behaviour.</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="tab4">
            <p align="center" class="trend-text-title">Indians in Melbourne: Expatriate Trend</p>

            <div class="row">
                <br>
                <div class="col-lg-6 trend-text-box">
                    <br><br><br>
                    <p>Greater Melbourne has a vibrant Indian expat community.There has been a steep increase in the percentage of population of Indian migrants to Melbourne over the past two decades.
                    Indian immigrant is at second rank in terms of dominating migration as compared to other countries of origin.</p>
                    <br>To Learn more, visit <a href ="https://liveinmelbourne.vic.gov.au/discover/multicultural-communities/indian" target="_blank" style="font-size: 17px;color: #24b67e;"><i>Melbourne’s Indian Community</i></a> page.</p>
                </div>

                <div id="my_dataviz" style="float: right;width: 40%;height: 400px;background-color: white;">
                    <script>
                        var data_temp = {{ india_trends|safe }};
                        var data = new Array();
                        for (var i in data_temp) {
                            data.push(data_temp[i]);
                        }

                        var margin = {top: 30, right: 10, bottom: 30, left: 45},
                            width = 480 - margin.left - margin.right,
                            height = 400 - margin.top - margin.bottom;

                        var svg = d3.select("#my_dataviz")
                            .append("svg")
                            .attr("width", width + 100)
                            .attr("height", height + margin.top + margin.bottom)
                            .append("g")
                            .attr("transform",
                                "translate(" + margin.left + "," + margin.top + ")");
                        // Title
                        svg.append("text")
                            .attr("x", (width/2))
                            .attr("y", 0 - (margin.top/2))
                            .attr("text-anchor", "middle")
                            .style("font-size", "16px")
                            //.text("Migration Trends of Victoria")

                        // Add X axis --> it is a date format
                        var x = d3.scaleLinear()
                            .domain(d3.extent(data, function(d) { return d.time; }))
                            .range([ 0, width ]);
                        svg.append("g")
                            .attr("transform", "translate(0," + height + ")")
                            .call(d3.axisBottom(x));

                        svg.append("text")
                            .attr("transform", "translate(" + width/2 + "," + (height + margin.bottom) + ")")
                            .style("text-anchor", "middle")
                            .text("Census Year");

                        // Add Y axis
                        var y = d3.scaleLinear()
                            .domain( [0, d3.max(data, function(d) { return d.India; }) + 20000])
                            .range([ height, 0 ]);
                        svg.append("g")
                            .call(d3.axisLeft(y))
                            .append("text")
                            .attr("fill", "#000")
                            .attr("transform", "rotate(-90)")
                            .attr("y", 6)
                            .attr("dy", "0.9em")
                            .style("text-anchor", "end")
                            .text("Number of Migrations");

                        //tooltip
                        var Tooltip = d3.select("#my_dataviz")
                            .append("div")
                            .style("opacity", 0)
                            .attr("class", "tooltip")
                            .style("background-color", "white")
                            .style("border", "solid")
                            .style("border-width", "2px")
                            .style("border-radius", "5px")
                            .style("padding", "5px")
                            .style("position", "absolute")

                        //mouse
                        var mouseover = function(d) {
                            Tooltip.style("opacity", 1)
                        }
                        //var mousemove = function(d) {
                          //  Tooltip.html(d.time + " : " + d.India)
                            //    .style("top", (d3.event.pageY - 80)+"px")
                              //  .style("left",(d3.event.pageX -30)+"px")
                        //}
                        var mouseleave = function(d) {
                            Tooltip.style("opacity", 0)
                        }

                                // Initialize line with group a
                                var line = svg
                                    .append('g')
                                    .append("path")
                                    .datum(data)
                                    .attr("d", d3.line()
                                        .x(function(d) { return x(+d.time) })
                                        .y(function(d) { return y(+d.India) })
                                    )
                                    .attr("stroke", "black")
                                    .style("stroke-width", 4)
                                    .style("fill", "none")

                        // Initialize dots with group a
                        var dot = svg
                            .selectAll('circle')
                            .data(data)
                            .enter()
                            .append('circle')
                            .attr("cx", function(d) { return x(+d.time) })
                            .attr("cy", function(d) { return y(+d.India) })
                            .attr("r", 7)
                            .style("fill", "#69b3a2")
                            .on("mouseover", mouseover)
                            //.on("mousemove", mousemove)
                            .on("mouseleave", mouseleave)
                            .on("mousemove", function(d) {
                                var matrix = this.getScreenCTM()
                                    .translate(+ this.getAttribute("cx"), + this.getAttribute("cy"));
                                Tooltip.html("Until "+d.time +"<br/>" +"Total number from India is " + d.India)
                                    .style("left", (window.pageXOffset + matrix.e -120) + "px")
                                    .style("top", (window.pageYOffset + matrix.f - 70) + "px");
                                })
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block in-status %}
    active
{% endblock %}

{% block drop-title %}
    India
{% endblock%}

{% block drop-india %}
    disabled
{% endblock%}