{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}
Demography
{% endblock %}

{% block content %}
<div style="background-color: #24b67e; height: 90px;"></div>
<section id="demography">
    <div class="container" style="height: 250px;">
        <div style="background-image: url(/static/images/banner-1.jpg);">
            <div class="intro-content display-table">
                <div class="table-cell box-banner">
                    <div align="center" class="container" >
                        <h2 class="box-banner-text">Demographics of Melbourne</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="box-shadow-2">
            <div class="no-margin">
                <table>
                    <tr>
                        <td style="vertical-align=center"  class="home_text"><a href="{% url 'home' %}">Home</a></td>
                        <td style="vertical-align=center" ><img src="/static/images/icon/double_arrow.png"></td>
                        <td style="vertical-align=center"  class="child_nav_text">Demography</td>
                    </tr>

                </table>
            </div>
            <hr>

            <div class="tab-content" style="background-color: white; margin-top: 0; padding: 10px;">
            <h2 style="text-shadow:1px 1px 0 #444">Let’s take a closer look at ethnicities of Greater Melbourne</h2>
             <br>
             <p>Each and every region of Melbourne is a blend of different cultures and is therefore, shaped by people from all around the globe.<br>
                The top five countries of origin  for immigrants in Melbourne are:
                 <span><a href ="{% url 'india_display' %}" target="_blank" style="font-size: 17px;color: #24b67e;"><strong>India</strong></a></span><span>,</span>
                 <span><a href ="{% url 'cn_display' %}" target="_blank" style="font-size: 17px;color: #24b67e;"><strong>China</strong></a></span><span>,</span>
                 <span><a href ="{% url 'nz_display' %}" target="_blank" style="font-size: 17px;color: #24b67e;"><strong>New Zealand</strong></a></span><span>,</span>
                 <span><a href ="{% url 'uk_display' %}" target="_blank" style="font-size: 17px;color: #24b67e;"><strong>United Kingdom</strong></a></span><span>,</span>
                 <span><a href ="{% url 'vn_display' %}" target="_blank" style="font-size: 17px;color: #24b67e;"><strong>Vietnam</strong></a></span><span>.</span><br>
                 Look at some <span><a href ="https://liveinmelbourne.vic.gov.au/discover/migrant-stories" target="_blank" style="font-size: 17px;color: #24b67e;"><strong>Migrant stories</strong></a></span><span> who migrated to Melbourne in past few years.</span>
                 <br><br>The map shows top five birthplaces of immigrants for different regions of Melbourne as per the 2016 census data. </p>
                </div>

          <center>
                <div class="info-area" style="height: 600px;">
                            <div class='tableauPlaceholder' id='viz1569152036546' style='position: relative'>
            <noscript>
                <a href='#'>
                    <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ma&#47;Map1_15691518919790&#47;Sheet1&#47;1_rss.png' style="-webkit-user-select; none; margin: auto;" />
                </a>
            </noscript>
            <object class='tableauViz'  style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                <param name='embed_code_version' value='3' />
                <param name='site_root' value='' />
                <param name='name' value='Map1_15691518919790&#47;Sheet1' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ma&#47;Map1_15691518919790&#47;Sheet1&#47;1.png' />
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='filter' value='publish=yes' />
            </object>
        </div>
        <script type='text/javascript'>
            var divElement = document.getElementById('viz1569152036546');
            var vizElement = divElement.getElementsByTagName('object')[0];
                vizElement.style.width='100%';
                vizElement.style.height=(divElement.offsetWidth*0.55)+'px';
            var scriptElement = document.createElement('script');
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>
                </div>


            </center>
    </div>
    </div>
</section>

{% endblock %}

{% block maps %}
active
{% endblock %}

