{% extends 'culture_info.html' %}
{% load staticfiles %}

{% block title %}
    Society | New Zealand
{% endblock %}

{% block image %}
    {% static 'images/cultures/nz.jpg' %}
{% endblock %}

{% block information %}
    <div class="tab-wrap">
        <ul class="select-navbar nav nav-tabs nav-stacked">
            <li class="select-navbar-item">
                <a class="active show" href="#tab1" data-toggle="tab">General Information</a>
            </li>
            <li class="select-navbar-item">
                <a class="" href="#tab2" data-toggle="tab">Easy Phrases</a>
            </li>
            <li class="select-navbar-item">
                <a class="" href="#tab3" data-toggle="tab">Do's and Don'ts</a>
            </li>
            <li class="select-navbar-item">
                <a class="" href="#tab4" data-toggle="tab">Immigration Trend</a>
            </li>
        </ul>
    </div>

    <!-- culture body -->
    <div class="tab-content" style="background-color: white; margin-top: 0; padding: 10px;">
        <div class="tab-pane fade active" id="tab1">
            <br>
            <p><Strong>New Zealand</Strong> culture is very unique and dynamic. Its indigenous Māori people influence the language, the arts and also the accents of the new Zealanders. Their adoration for the outdoor sports and also the arts make New Zealanders and their culture distinctive with respect to other countries. Some of the other attributes which make kiwis unique in the world includes friendliness, singularity, independence and innovation. New Zealand has three official dialects: Māori, English and New Zealand Sign Language.
            <p align="center"><i>"New Zealand is consider to be the land of the long white cloud."</i></p>
        </div>
        <div class="tab-pane fade" id="tab2">
            <br>
            <p><strong>There are many different ways of greetings in New Zealand:</strong></p>
            <ul>
                <li>One of the common words used by kiwis is ‘Kia ora’ (pronounced as key-or-rah) which mean Hello. It is a warm and inviting welcome that is used throughout New Zealand.</li>
                <li>Whenever they greet to group of people, they use ‘Kia ora tatou’ which means Hello everyone.</li>
                <li>Handshake is also considered the common form of greeting accompanied by eye contact.</li>
                <li>They also hug someone they know while greeting them.</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="tab3">
            <br>
            <p><strong><i>Do's : </i></strong></p>
            <ul>
                <li>In New Zealand, Māor community are given great respect.</li>
                <li>New Zealanders often uses “Thank you” when somebody accomplishes something for you and also “Please”, when someone ask for the favour.</li>
                <li>New Zealanders often shake hand (short and firm) whenever they meat each other for the first time.</li>
                <li>New Zealanders are quite direct in saying “No”.</li>
                <li>Sharing of food is very common kiwis so as to create relax atmosphere.</li>
            </ul>
            <p><strong><i>Don'ts : </i></strong></p>
            <ul>
                <li>New Zealanders like to prod, so don't take it too seriously.</li>
                <li>New Zealanders feel repulsive if someone boast in front of them.</li>
                <li>Don’t confuse kiwis with Australians.</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="tab4">
            <p align="center" class="trend-text-title">New Zealanders Community in Melbourne: Expatriate Trend</p>
            <div class="row">
                <br>
                <div class="col-lg-6 trend-text-box">
                    <br><br><br>
                    <p>Melbourne saw a steady increase of influx of kiwis over the years.<br>This is because of the predominant flow of New Zealanders from their country to Australia. The community lives mostly in urban part of Melbourne.
                    </p>
                </div>
                <div id="my_dataviz" style="float: right;width: 50%;height: 400px;background-color: white;">
                    <script>
                        var data_temp = {{ nz_trends|safe }};
                        var data = new Array();
                        for (var i in data_temp) {
                            data.push(data_temp[i]);
                        }

                        var margin = {top: 30, right: 10, bottom: 30, left: 45},
                            width = 480 - margin.left - margin.right,
                            height = 400 - margin.top - margin.bottom;

                        var svg = d3.select("#my_dataviz")
                            .append("svg")
                            .attr("width", width + 100)
                            .attr("height", height + margin.top + margin.bottom)
                            .append("g")
                            .attr("transform",
                                "translate(" + margin.left + "," + margin.top + ")");
                        // Title
                        svg.append("text")
                            .attr("x", (width/2))
                            .attr("y", 0 - (margin.top/2))
                            .attr("text-anchor", "middle")
                            .style("font-size", "16px")
                            //.text("Migration Trends of Victoria")

                        // Add X axis --> it is a date format
                        var x = d3.scaleLinear()
                            .domain(d3.extent(data, function(d) { return d.time; }))
                            .range([ 0, width ]);
                        svg.append("g")
                            .attr("transform", "translate(0," + height + ")")
                            .call(d3.axisBottom(x));

                        svg.append("text")
                            .attr("transform", "translate(" + width/2 + "," + (height + margin.bottom) + ")")
                            .style("text-anchor", "middle")
                            .text("Census Year");

                        // Add Y axis
                        var y = d3.scaleLinear()
                            .domain( [0, d3.max(data, function(d) { return d['New Zealand']; }) + 20000])
                            .range([ height, 0 ]);
                        svg.append("g")
                            .call(d3.axisLeft(y))
                            .append("text")
                            .attr("fill", "#000")
                            .attr("transform", "rotate(-90)")
                            .attr("y", 6)
                            .attr("dy", "0.9em")
                            .style("text-anchor", "end")
                            .text("Number of Migrations");

                        //tooltip
                        var Tooltip = d3.select("#my_dataviz")
                            .append("div")
                            .style("opacity", 0)
                            .attr("class", "tooltip")
                            .style("background-color", "white")
                            .style("border", "solid")
                            .style("border-width", "2px")
                            .style("border-radius", "5px")
                            .style("padding", "5px")
                            .style("position", "absolute")

                        //mouse
                        var mouseover = function(d) {
                            Tooltip.style("opacity", 1)
                        }
                        //var mousemove = function(d) {
                          //  Tooltip.html(d.time + " : " + d['New Zealand'])
                            //    .style("top", (d3.event.pageY - 80)+"px")
                              //  .style("left",(d3.event.pageX -30)+"px")
                       // }
                        var mouseleave = function(d) {
                            Tooltip.style("opacity", 0)
                        }

                        // Initialize line with group a
                        var line = svg
                            .append('g')
                            .append("path")
                            .datum(data)
                            .attr("d", d3.line()
                                .x(function(d) { return x(+d.time) })
                                .y(function(d) { return y(+d['New Zealand']) })
                            )
                            .attr("stroke", "black")
                            .style("stroke-width", 4)
                            .style("fill", "none")

                        // Initialize dots with group a
                        var dot = svg
                            .selectAll('circle')
                            .data(data)
                            .enter()
                            .append('circle')
                            .attr("cx", function(d) { return x(+d.time) })
                            .attr("cy", function(d) { return y(+d['New Zealand']) })
                            .attr("r", 7)
                            .style("fill", "#69b3a2")
                            .on("mouseover", mouseover)
                           // .on("mousemove", mousemove)
                            .on("mouseleave", mouseleave)
                            .on("mousemove", function(d) {
                                var matrix = this.getScreenCTM()
                                    .translate(+ this.getAttribute("cx"), + this.getAttribute("cy"));
                                Tooltip.html("Until "+d.time +"<br/>" +"Total number from New Zealand is " + d["New Zealand"])
                                    .style("left", (window.pageXOffset + matrix.e -120) + "px")
                                    .style("top", (window.pageYOffset + matrix.f - 70) + "px");
                                })
                    </script>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block nz-status %}
    active
{% endblock %}

{% block drop-title %}
    New Zealand
{% endblock%}

{% block drop-nz %}
    disabled
{% endblock%}