{% extends 'culture_info.html' %}
{% load staticfiles %}

{% block title %}
    New Zealand
{% endblock %}

{% block image1 %}
    {% static 'images/cultures/new-zealand.jpg'%}
{% endblock %}

{% block information %}
    <div class="tab-wrap">
        <ul class="select-navbar nav nav-tabs nav-stacked" style="margin-top: 0;">
            <li class="select-navbar-item">
                <a href="#tab1" data-toggle="tab">General Information</a>
            </li>
            <li class="select-navbar-item">
                <a href="#tab2" data-toggle="tab">Easy Phrases</a>
            </li>
            <li class="select-navbar-item">
                <a href="#tab3" data-toggle="tab">Do's and Don'ts</a>
            </li>
            <li class="select-navbar-item">
                <a href="#tab4" data-toggle="tab">Immigration Trend</a>
            </li>
        </ul>
    </div>

    <!-- culture body -->
    <div class="tab-content" style="background-color: white; margin-top: 0; padding: 10px;">
        <div class="tab-pane fade" id="tab1">
            <br>
            <p><Strong>New Zealand</Strong> culture is very unique and dynamic. Its indigenous Māori people influence the language, the arts and also the accents of the new Zealanders. Their adoration for the outdoor sports and also the arts make New Zealanders and their culture distinctive with respect to other countries. Some of the other attributes which make kiwis unique in the world includes friendliness, singularity, independence and innovation. New Zealand has three official dialects: Māori, English and New Zealand Sign Language.
            <p align="center"><i>"New Zealand is consider to be the land of the long white cloud."</i></p>
            </p>
        </div>

        <div class="tab-pane fade" id="tab3">
            <br>
            <p><strong><i>Do's : </i></strong></p>
            <ul>
                <li>In New Zealand, Māor community are given great respect.</li>
                <li>New Zealanders often uses “Thank you” when somebody accomplishes something for you and also “Please”, when someone ask for the favour.</li>
                <li>New Zealanders often shake hand (short and firm) whenever they meat each other for the first time.</li>
                <li>New Zealanders are quite direct in saying “No”.</li>
                <li>Sharing of food is very common kiwis so as to create relax atmosphere.</li>
            </ul>
            <p><strong><i>Don'ts : </i></strong></p>
            <ul>
                <li>New Zealanders like to prod, so don't take it too seriously.</li>
                <li>New Zealanders feel repulsive if someone boast in front of them.</li>
                <li>Don’t confuse kiwis with Australians.</li>
            </ul>
        </div>


        <div class="tab-pane fade" id="tab2">
            <br>
            <p><strong>There are many different ways of greetings in New Zealand:</strong></p>
            <ul>
                <li>One of the common words used by kiwis is ‘Kia ora’ (pronounced as key-or-rah) which mean Hello. It is a warm and inviting welcome that is used throughout New Zealand.</li>
                <li>Whenever they greet to group of people, they use ‘Kia ora tatou’ which means Hello everyone.</li>
                <li>Handshake is also considered the common form of greeting accompanied by eye contact.</li>
                <li>They also hug someone they know while greeting them.</li>
            </ul>
        </div>

        <div class="tab-pane fade" id="tab4">


        </div>
    </div>

{% endblock %}

{% block nz-status %}
    active
{% endblock %}