{% extends 'culture_info.html' %}
{% load staticfiles %}

{% block title %}
    Society | United Kingdom
{% endblock %}

{% block image1 %}
    {% static 'images/cultures/uk.jpg' %}
{% endblock %}

{% block information %}
<!-- ui here -->

 <div class="tab-wrap">
        <ul class="select-navbar nav nav-tabs nav-stacked" style="margin-top: 0;">
            <li class="select-navbar-item">
                <a class="active show" href="#tab1" data-toggle="tab">General Information</a>
            </li>
           <!-- <li class="select-navbar-item">
                <a class="" href="#tab2" data-toggle="tab">Easy Phrases</a>
            </li>
            <li class="select-navbar-item">
                <a class="" href="#tab3" data-toggle="tab">Do's and Don'ts</a>
            </li>-->
            <li class="select-navbar-item">
                <a class="" href="#tab4" data-toggle="tab">Immigration Trend</a>
            </li>
        </ul>
    </div>

    <!-- culture body -->
    <div class="tab-content" style="background-color: white; margin-top: 0; padding: 10px;">
        <div class="tab-pane fade active" id="tab1">
            <br>
            <p>
                When you hear about the United Kingdom what the first thing does cross to your mind? Brexit? Stonehenge? Oxford? or Shakespeare? Whatever it is, this sovereign country located off the north-western coast of the European mainland has some unique characteristics. As reported by Mero.co.uk, here some of them from the list:
            </p>
            <p>
                <ul>
                    <li>Great at queueing</li>
                    <li>Sarcasm</li>
                    <li>Watching soaps</li>
                    <li>A soothing cup of tea to ease worries</li>
                    <li>Love of cheap foreign holidays</li>
                    <li>Feeling uncomfortable when people talk about their emotions</li>
                </ul>
            </p>

        </div>
        <div class="tab-pane fade" id="tab2">
            <br>

        </div>
        <div class="tab-pane fade" id="tab3">
            <br>
            <p><strong><i>Do's : </i></strong></p>
            <ul>

            </ul>
            <p><strong><i>Don'ts : </i></strong></p>
            <ul>

            </ul>
        </div>
        <div class="tab-pane fade" id="tab4">
            <p align="center" class="trend-text-title">British Community in Melbourne: Expatriate Trend</p>
            <div class="row">
                <br>
                <div class="col-lg-5 trend-text-box">
                    <br>
                    <p>The United Kingdom is still number one of the countries, which has the highest number of migrations to Melbounre in each census year. The trend of migrations remains steady, but the UK group is still one of the largest in Greater Melbourne.</p>
                    <p align="center"><i>If you are planning for moving to Australia, then Melbourne can be the superb place for you.</i></p>
                </div>
                <div id="my_dataviz" style="float: right;width: 50%;height: 400px;background-color: white;">
                    <script>
                        var data_temp = {{ uk_trends|safe }};
                        var data = new Array();
                        for (var i in data_temp) {
                            data.push(data_temp[i]);
                        }
                        console.log(data);


                        var margin = {top: 20, right: 10, bottom: 30, left: 45},
                            width = 500 - margin.left - margin.right,
                            height = 400 - margin.top - margin.bottom;

                        var svg = d3.select("#my_dataviz")
                            .append("svg")
                            .attr("width", width + 100)
                            .attr("height", height + margin.top + margin.bottom)
                            .append("g")
                            .attr("transform",
                                "translate(" + margin.left + "," + margin.top + ")");
                        // Title
                        svg.append("text")
                            .attr("x", (width/2))
                            .attr("y", 0 - (margin.top/2))
                            .attr("text-anchor", "middle")
                            .style("font-size", "16px")
                            //.text("Migration Trends of Victoria")

                        // Add X axis --> it is a date format
                        var x = d3.scaleLinear()
                            .domain(d3.extent(data, function(d) { return d.time; }))
                            .range([ 0, width ]);
                        svg.append("g")
                            .attr("transform", "translate(0," + height + ")")
                            .call(d3.axisBottom(x));

                        svg.append("text")
                            .attr("transform", "translate(" + width/2 + "," + (height + margin.bottom) + ")")
                            .style("text-anchor", "middle")
                            .text("Census Year");

                        // Add Y axis
                        var y = d3.scaleLinear()
                            .domain( [0, d3.max(data, function(d) { return d['United Kingdom']; }) + 20000])
                            .range([ height, 0 ]);
                            svg.append("g")
                                .call(d3.axisLeft(y))
                                .append("text")
                                .attr("fill", "#000")
                                .attr("transform", "rotate(-90)")
                                .attr("y", 6)
                                .attr("dy", "0.9em")
                                .style("text-anchor", "end")
                                .text("Number of Migrations");

                        //tooltip
                        var Tooltip = d3.select("#my_dataviz")
                            .append("div")
                            .style("opacity", 0)
                            .attr("class", "tooltip")
                            .style("background-color", "white")
                            .style("border", "solid")
                            .style("border-width", "2px")
                            .style("border-radius", "5px")
                            .style("padding", "5px")
                            .style("position", "absolute")

                        //mouse
                        var mouseover = function(d) {
                            Tooltip.style("opacity", 1)
                        }
                        //var mousemove = function(d) {
                         //   Tooltip.html(d.time + " : " + d['United Kingdom'])
                           //     .style("top", (d3.event.pageY - 80)+"px")
                             //   .style("left",(d3.event.pageX -30)+"px")
                        //}
                        var mouseleave = function(d) {
                            Tooltip.style("opacity", 0)
                        }

                        // Initialize line with group a
                        var line = svg
                            .append('g')
                            .append("path")
                            .datum(data)
                            .attr("d", d3.line()
                                .x(function(d) { return x(+d.time) })
                                .y(function(d) { return y(+d['United Kingdom']) })
                            )
                            .attr("stroke", "black")
                            .style("stroke-width", 4)
                            .style("fill", "none")

                        // Initialize dots with group a
                        var dot = svg
                            .selectAll('circle')
                            .data(data)
                            .enter()
                            .append('circle')
                            .attr("cx", function(d) { return x(+d.time) })
                            .attr("cy", function(d) { return y(+d['United Kingdom']) })
                            .attr("r", 7)
                            .style("fill", "#69b3a2")
                            .on("mouseover", mouseover)
                            //.on("mousemove", mousemove)
                            .on("mouseleave", mouseleave)
                            .on("mousemove", function(d) {
                                var matrix = this.getScreenCTM()
                                    .translate(+ this.getAttribute("cx"), + this.getAttribute("cy"));
                                Tooltip.html("Until "+d.time +"<br/>" +"Total number from the United Kingdom is " + d["United Kingdom"])
                                    .style("left", (window.pageXOffset + matrix.e -120) + "px")
                                    .style("top", (window.pageYOffset + matrix.f - 70) + "px");
                            })
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block uk-status %}
    active
{% endblock %}