{% extends 'culture_info.html' %}
{% load staticfiles %}

{% block title %}
    Society | Vietnam
{% endblock %}

{% block image %}
    {% static 'images/cultures/vietnam.jpg'%}
{% endblock %}

{% block information %}
    <div class="tab-wrap">
        <ul class="select-navbar nav nav-tabs nav-stacked">
            <li class="select-navbar-item">
                <a class="active show" href="#tab1" data-toggle="tab">General Information</a>
            </li>
            <li class="select-navbar-item">
                <a class="" href="#tab2" data-toggle="tab">Easy Phrases</a>
            </li>
            <li class="select-navbar-item">
                <a class="" href="#tab3" data-toggle="tab">Do's and Don'ts</a>
            </li>
            <li class="select-navbar-item">
                <a class="" href="#tab4" data-toggle="tab">Immigration Trend</a>
            </li>
        </ul>
    </div>

    <!-- culture body -->
    <div class="tab-content" style="background-color: white; margin-top: 0; padding: 10px;">
        <div class="tab-pane fade active" id="tab1">
            <br>
            <p><strong>Vietnamese</strong> culture is considered to be one of the oldest and is highly influenced by Chinese culture. Vietnamese values family and clan over individualism. Their cuisines is quite famous around the world and their cuisines can be classified according to the north, south and central regions of their country.
                Vietnam has rich tradition of dance and music which Vietnamese enjoys a lot.
                Vietnamese art is highly influenced by Buddhism and Taoism. The traditional clothing of Vietnamese has changed from time to time.
            </p>
            <p>
                Do you know how amazing a Vietnamese is? Watch this video to find it out.<br/><br/>
                <center>
                    <iframe width="800" height="450" src="https://www.youtube.com/embed/P5bIzzMCHkw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </center>
            </p>
            <p align="center"><i>"Vietnam is considered to be the land of Ascending Dragon."</i></p>
        </div>
        <div class="tab-pane fade" id="tab2">
            <br>
            <p><strong>There are many different ways of greetings in Vietnam:</strong> </p>
                <ul>
                    <li>Vietnamese generally greet each other by saying “xin chao” ( pronounced as Seen chow) followed by the title and first name.</li>
                    <li>Vietnamese also shake hands when greeting and also when saying good-bye.</li>
                    <li>Vietnamese women prefer to bow their head instead of shaking hands.</li>
                    <li>Elder Vietnamese are greeted respectfully either by holding both of their hands or a by respectfully bowing head.</li>
                    <li>They hug each other while greeting their relatives or their close friends.</li>
                </ul>

        </div>
        <div class="tab-pane fade" id="tab3">
            <br>
            <p><strong><i>Do's : </i></strong></p>
                <ul>
                    <li>Always greet them by saying Xin chào. In addition, handshakes is also considered as the common form of greeting and goodbye.</li>
                    <li>Remove shoes whenever you enter a Vietnamese house.</li>
                    <li>Bow your head in order to pay respect to the Vietnamese temple.</li>
                    <li>Try to keep the discussion with them in harmonious way.</li>
                </ul>
            <p><strong><i>Don'ts : </i></strong></p>
                <ul>
                    <li>Don’t talk about Vietnam war and other political conflicts of their country.</li>
                    <li>Don’t criticise them by pointing out their mistakes.</li>
                    <li>Questions like “what’s your salary?” or “Are you married or not” are considered very common in their conversation.</li>
                    <li>Avoid raising the controversial topic of North and South Vietnam.</li>
                    <li>Don’t flaunt wealth in front of them, they consider it as a very impolite behaviour.</li>
                    <li>Avoid leaving the food on your plate while eating them as it is considered vey rude among Vietnamese.</li>
                </ul>


        </div>
        <div class="tab-pane fade" id="tab4">
            <p align="center" class="trend-text-title">Vietnamese Community in Melbourne: Expatriate Trend</p>
            <div class="row">
                <br>
                <div class="col-lg-6 trend-text-box">
                    <br><br><br>
                    <p>Vietnamese stand at the rank 5 in terms of migration to Victoria.<br>There has been increase in migration by about 40% in Victoria. Australia is considered to be the second preferred destination after United States.</p>
                    <br>To Learn more, visit <a href ="https://liveinmelbourne.vic.gov.au/discover/multicultural-communities/vietnamese" target="_blank" style="font-size: 17px;color: #24b67e;"><i>Melbourne’s Vietnamese Community</i></a> page.</p>
                </div>
                <div id="my_dataviz" style="float: right;width: 50%;height: 400px;background-color: white;">
                    <script>
                        var data_temp = {{ vn_trends|safe }};
                        var data = new Array();
                        for (var i in data_temp) {
                            data.push(data_temp[i]);
                        }

                        var margin = {top: 30, right: 10, bottom: 30, left: 45},
                            width = 480 - margin.left - margin.right,
                            height = 400 - margin.top - margin.bottom;

                        var svg = d3.select("#my_dataviz")
                            .append("svg")
                            .attr("width", width + 100)
                            .attr("height", height + margin.top + margin.bottom)
                            .append("g")
                            .attr("transform",
                                "translate(" + margin.left + "," + margin.top + ")");
                        // Title
                        svg.append("text")
                            .attr("x", (width/2))
                            .attr("y", 0 - (margin.top/2))
                            .attr("text-anchor", "middle")
                            .style("font-size", "16px")
                            //.text("Migration Trends of Victoria")

                        // Add X axis --> it is a date format
                        var x = d3.scaleLinear()
                            .domain(d3.extent(data, function(d) { return d.time; }))
                            .range([ 0, width ]);
                        svg.append("g")
                            .attr("transform", "translate(0," + height + ")")
                            .call(d3.axisBottom(x));

                        svg.append("text")
                            .attr("transform", "translate(" + width/2 + "," + (height + margin.bottom) + ")")
                            .style("text-anchor", "middle")
                            .text("Census Year");

                        // Add Y axis
                        var y = d3.scaleLinear()
                            .domain( [0, d3.max(data, function(d) { return d.Vietnam; }) + 20000])
                            .range([ height, 0 ]);
                        svg.append("g")
                            .call(d3.axisLeft(y))
                            .append("text")
                            .attr("fill", "#000")
                            .attr("transform", "rotate(-90)")
                            .attr("y", 6)
                            .attr("dy", "0.9em")
                            .style("text-anchor", "end")
                            .text("Number of Migrations");

                        //tooltip
                        var Tooltip = d3.select("#my_dataviz")
                            .append("div")
                            .style("opacity", 0)
                            .attr("class", "tooltip")
                            .style("background-color", "white")
                            .style("border", "solid")
                            .style("border-width", "2px")
                            .style("border-radius", "5px")
                            .style("padding", "5px")
                            //.style("position", "absolute")

                        //mouse
                        var mouseover = function(d) {
                            Tooltip.style("opacity", 1)
                        }
                        //var mousemove = function(d) {
                            //Tooltip.html(d.time + " : " + d.Vietnam)
                                //.style("top", (d3.event.pageY))
                                //.style("left",(d3.event.pageX)/2+"px")
                        //}
                        var mouseleave = function(d) {
                            Tooltip.style("opacity", 0)
                        }

                        // Initialize line with group a
                        var line = svg
                            .append('g')
                            .append("path")
                            .datum(data)
                            .attr("d", d3.line()
                                .x(function(d) { return x(+d.time) })
                                .y(function(d) { return y(+d.Vietnam) })
                            )
                            .attr("stroke", "black")
                            .style("stroke-width", 4)
                            .style("fill", "none")

                        // Initialize dots with group a
                        var dot = svg
                            .selectAll('circle')
                            .data(data)
                            .enter()
                            .append('circle')
                            .attr("cx", function(d) { return x(+d.time) })
                            .attr("cy", function(d) { return y(+d.Vietnam) })
                            .attr("r", 7)
                            .style("fill", "#69b3a2")
                            .on("mouseover", mouseover)
                            //.on("mousemove", mousemove)
                            .on("mouseleave", mouseleave)
                            .on("mousemove", function(d) {
                                var matrix = this.getScreenCTM()
                                    .translate(+ this.getAttribute("cx"), + this.getAttribute("cy"));
                                Tooltip.html("Until "+d.time +"<br/>" +"Total number from Vietnam is " + d.Vietnam)
                                    .style("left", (window.pageXOffset + matrix.e -120) + "px")
                                    .style("top", (window.pageYOffset + matrix.f - 70) + "px");
                                })
                    </script>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block vn-status %}
    active
{% endblock %}

{% block drop-title %}
    Vietnam
{% endblock%}

{% block drop-vn %}
    disabled
{% endblock%}