{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}
    About Us
{% endblock %}

{% block content %}
    <div class="page-title" style="background-image: url({% static 'images/page-title.jpg' %})">
        <h1>About us</h1>
    </div>

    <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="about-img">
                        <img src="/static/images/about-img.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="about-content">
                        <h2>Who we are</h2>
                        <h3>“We believe that vibrant, functioning communities are in society’s interests, and immigrants should find it easy to connect with them so as to have benevolent relief in the new cultures.”</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-content">
                        <h2>Our Vision</h2>
                        <p>To build strong and safe communities by abridging the gap between the immigrants and existing communities of Victoria.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-content">
                        <h2>Our Goal</h2>
                        <p>We understand how an immigrant strive to settle in Victoria. We empower immigrants to connect to the communities and learn their culture in order to be imbibed in this diverse society. We try to strengthen the society of Australia by creating the sense of belongingness among different cultures.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block about %}
    class="active"
{% endblock %}