{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}
    Linkin+
{% endblock %}

{% block content %}
<!--/ Intro Skew Start /-->
    <div id="home" class="intro route bg-image" style="background-image: url({% static 'images/home-bg.jpg' %})">
        <div class="overlay-itro"></div>
        <div class="intro-content display-table">
            <div class="table-cell">
                <div class="container">
                    <h1 class="intro-title mb-4">We are Connecting Communities</h1>
                    <p class="intro-subtitle">
                        <!--<span class="text-slider-items">-->
                        <strong>It may be hard to fit into a new place. Knowing more about the multicultural society might help you to adapt faster.</strong>
                        <!--</span>-->
                        <!--<strong class="text-slider"></strong>-->
                    </p>
                </div>
            </div>
        </div>
    </div>
  <!--/ Intro Skew End /-->

<!--/ Section Society Start /-->
    <section id="society" class="society-mf sect-pt4 route">
        <div class="container">
            <div class="title-box text-center">
                <h3 class="title-a">
                    Get to Know the Society
                </h3>
                <div align="center">
                    <p class="subtitle-a">
                        Based on the nationalities, there are 6 main cultural groups in Australia. Select one of these cards below to know more about them.
                    </p>
                </div>
                <div class="line-mf"></div>
            </div>
            <!-- content -->
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-society card-box">
                        <div class="card-img">
                            <a href="{% url 'au_display' %}"><img class="img-fluid" src="/static/images/society/australia.jpg" alt=""></a>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="{% url 'au_display' %}">Australia</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-society card-box">
                        <div class="card-img">
                            <a href="{% url 'uk_display' %}"><img class="img-fluid" src="/static/images/society/uk.jpg" alt=""></a>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="{% url 'uk_display' %}">United Kingdom</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-society card-box">
                        <div class="card-img">
                            <a href="{% url 'nz_display' %}"><img class="img-fluid" src="{% static 'images/society/new_zealand.jpg' %}" alt=""></a>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="{% url 'nz_display' %}">New Zealand</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-society card-box">
                        <div class="card-img">
                            <a href="{% url 'cn_display' %}"><img class="img-fluid" src="/static/images/society/china.jpg" alt=""></a>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="{% url 'cn_display' %}">China</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-society card-box">
                        <div class="card-img">
                            <a href="{% url 'india_display' %}"><img class="img-fluid" src="/static/images/society/india.jpg" alt=""></a>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="{% url 'india_display' %}">India</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-society card-box">
                        <div class="card-img">
                            <a href="{% url 'vn_display' %}"><img class="img-fluid" src="/static/images/society/vietnam.jpg" alt=""></a>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="{% url 'vn_display' %}">Vietnam</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Section Society End /-->

    <div class="section-counter paralax-mf bg-image" style="background-image: url(/static/images/counters-bg.jpg)">
        <div class="overlay-mf"></div>
    </div>

    <!--/ Section Event Start /-->
    <section id="event" class="event-mf sect-pt4 route">
        <div class="container">
            <div class="box-shadow-full">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Join an Event
                    </h3>
                    <div align="center">
                        <p class="subtitle-a">
                            By participating in an event, you may meet more people and bloom your sense of belonging. Find the interesting one and feel the atmosphere of Melbourne.
                        </p>
                    </div>
                    <div class="line-mf"></div>
                </div>
                <div align="center">
                    <a class="button button-a button-big button-rouded" href="{% url 'event_display' %}">Get More Events</a>
                </div>
            </div>
        </div>
  </section>

{% endblock %}

{% block home %}
    active
{% endblock %}